<div class="footer-div">
    <p>© 2026 YeizelNylo &nbsp;</p>
    <p>
        <a href="https://blog.nachceko.qzz.io" target="_blank" rel="noopener noreferrer">博客</a>
    </p>
    <p>
        友情推荐: &nbsp;
        <a href="https://docs.nachceko.qzz.io" target="_blank" rel="noopener noreferrer">YDC</a>
    </p>
</div>
